@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    list-style: none;
} 
.body {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: arial, sans-serif;
    
}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.form{
    position: relative;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-content{
    height: 200px;
    margin-top: 30px;
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
   
}
.form-h2{
    font-family: 'Oswald', sans-serif;
    display: flex;
    width: 600px;
    font-weight: 700;
    justify-content: center;
    color: orange;
    font-size: 40px;
    margin-bottom: 20px;
   
}
.wrapper{
    display: flex;
    align-items: flex-end;
    height: 35px;
    width: 200px;
    background:gray;
    justify-content: center;
    border-radius: 50px;
    
}
.wrapper .input-data{
    background: none;
    width: 100%;
    height: 25px;
    position: relative;
    bottom: 5px;
}
.wrapper .input-data input{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: white;
    
    font-size: 16px;
    padding-left: 10px;
}

.wrapper .input-data label{
    position: absolute;
    bottom: 5px;
    left: 0;
    margin-left: 10px;
    color: orange;
    pointer-events: none;
    transition: all 0.3s ease;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform: translateY(-30px);
    font-size: 16px;
    color: black;
}
.input-button{
    position: relative;
    margin-top: 5px;
    width: 200px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.input-button input{
    padding: 5px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    color: coral;
    border: orange solid 2px;
    font-weight: 700;
    border-radius: 30px;
}
.button:hover{
    background: orange;
    color: white;
    transition: .5s;
}

.content-weather{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 250px;
    
}
.we{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: auto;

    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.image{
    display: flex;
    align-items: center;
    width: auto;
    height: 170px;
    
}
.we-c{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    
    color: white;
}
.we-h1{
    font-family: 'Prompt', sans-serif;
    display: flex;
    width: auto;
}
.we-h2{
    width: auto;
    height: auto;
    
}
.we-day{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 399px;
   
}
.we-day1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    width: 300px;
    height: 300px;
   
    border-radius: 20px;
    position: relative;
    background-color: rgba(255, 69, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.img-we{
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    width: 250px;
    height: auto;
  
}
.we-d{
    display: flex;
    justify-content: center;
    position: relative;
    width: 280px;
    height: 50px;
    font-family: 'Prompt', sans-serif;  

}
.wa{
    position: absolute;
    right: 0px;
    width: 350px;
    height: 250px;
    border-radius: 25px;
    background-color: rgba(247, 242, 176, 0.4);
    overflow: hidden;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
}
.pl-h{margin-bottom: 25px;
    display: flex;
    color: brown;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Prompt', sans-serif;
}
.pl-we{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Prompt', sans-serif;
}
.wa-p{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    color: white;
}
.navbar{
    position: absolute;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
.navbar a{
    color: white;
}
.navbar .logo{
    font-size: 25px;
    font-weight: 700;
}
.navbar .nav-links ul{
    display: flex;
	width: 100%;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
}
.navbar .nav-links li{

    font-size: 18px;
    font-weight: 700;
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
	min-width: 80px;
	margin-right: 20px;
}
.navbar .nav-links li:hover {
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}
.navbar .nav-links li:active {
    transform: translateY(4px);
}


@media only screen and (max-height: 768px){
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
} 
.body {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: arial, sans-serif;
}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.form{
    position: relative;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.form-content{
    margin-top: -10px;
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    
}
.form-h2{
    display: flex;
    width: 600px;
    font-weight: 700;
    justify-content: center;
    color: orange;
    font-size: 40px;
    
}
.wrapper{
    display: flex;
    align-items: flex-end;
    height: 60px;
    width: 190px;
    background:transparent;
    justify-content: center;
    
}
.wrapper .input-data{
    background: none;
    width: 100%;
    height: 20px;
    position: relative;
}
.wrapper .input-data input{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: white;
    border-bottom: 2px solid orange;
    font-size: 16px;
    padding-left: 10px;
}
.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: orange;
    pointer-events: none;
    transition: all 0.3s ease;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform: translateY(-25px);
    font-size: 16px;
    color: white;
}
.input-button{
    position: relative;
    margin-top: 5px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.input-button input{
    padding: 3px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    color: coral;
    border: orange solid 2px;
    font-weight: 700;
    border-radius: 30px;
}
.button:hover{
    background: orange;
    color: white;
    transition: .5s;
}

.content-weather{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 200px;
    
}
.we{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: auto;
    ;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.image{
    display: flex;
    align-items: center;
    width: auto;
    height: 140px;
    
}
.we-c{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    
    color: white;
}
.we-h1{
    display: flex;
    font-family: 'Prompt', sans-serif;
    width: auto;
    
}
.we-h2{
    width: auto;
    height: auto;
    
}
.we-day{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 350px;
   
}
.we-day1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    width: 280px;
    height: 250px;
   
    border-radius: 20px;
    position: relative;
    background-color: rgba(255, 69, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.img-we{
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    width: 250px;
    height: auto;
  
}
.we-d{
    display: flex;
    justify-content: center;
    position: relative;
    width: 280px;
    height: 50px;
    font-family: 'Prompt', sans-serif;

}
}
